.app {
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form {
  display: flex;
}
.input-todo {
  width: 100%;
  margin: 5px;
}
.todos {
  display: flex;
}
.todo-text {
  margin: 5px;
}
